.pagination {
  display: flex;
  align-items: center;

  p {
    text-align: center;
  }

  .btn {
    width: 100px;
  }

  .page-button {
    width: 30px;
    margin: 5px;
    border: none;
  }

  .page-button:hover {
    background-color: #333333;
    color: #ccc;
    transition: all 0.2s ease-in;
  }

  .select-posts-per-page {
    width: 60px;
  }
}

.prev, .next {
  margin: 10px;
}

.prev:hover, .next:hover {
  background-color: #333333;
  color: #ccc;
  transition: all 0.2s ease-in;
}