<div *ngIf="formEditComment; else loading">
  <form [formGroup]="formEditComment" (ngSubmit)="submitEditComment()">
    <div
      class="form-control"
      [ngClass]="{
        invalid:
          formEditComment.get('authorName')?.touched &&
          formEditComment.get('authorName')?.invalid
      }"
    >
      <label for="author">Comment author:</label>
      <input id="author" type="text" formControlName="authorName" />
      <div
        *ngIf="
          formEditComment.get('authorName')?.touched &&
          formEditComment.get('authorName')?.invalid
        "
        class="validation"
      >
        <small *ngIf="formEditComment.get('authorName')?.errors?.['required']">
          Field "Comment author" shouldn't be empty
        </small>
      </div>
    </div>

    <div class="form-control">
      <div [froalaEditor] formControlName="comment"></div>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="formEditComment.invalid || submitted"
    >
      Update comment
    </button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
