<app-alert></app-alert>
<nav class="navbar main bg-primary">
  <h1><a class="header-link" [routerLink]="['/']">Angular Blog</a></h1>
  <div>
    <a class="header-link" [routerLink]="['/admin/dashboard']"
      >To admin panel</a
    >
    <ng-container *ngIf="!isAuthenticated">
      <a class="header-link" [routerLink]="['/login']">Log in</a>
      <a class="header-link" [routerLink]="['/signup']">Sign up</a>
    </ng-container>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
